{
	"presets": ["env", "react"],
	"plugins": [
	  	"transform-decorators",
	  	"transform-object-rest-spread",
	  	"transform-class-properties",
	  	["react-css-modules", {
	  		"exclude": "node_modules",
	  		"webpackHotModuleReloading": true,
	  		"handleMissingStyleName": "warn",
	  		"generateScopedName": "[folder]_[local]_[sha512:hash:base62:5]"
	  	}]
	]
}
